<app-header [title]="'Menu.User' | translate" [defaultHref]="'tabs/profil'"></app-header>

<ion-content>

  <form [formGroup]="profilForm">
    <ion-grid>

      <ng-template #nameInput>
        <ion-item>
          <ion-label color="primary" position="floating">
            {{"User.Name" | translate}}
          </ion-label>
          <ion-input clearInput type="text" formControlName="name"></ion-input>
        </ion-item>
      </ng-template>
      <app-template-center-col [template]="nameInput"></app-template-center-col>

      <ng-template #sexeRadio>
        <ion-radio-group formControlName="sexe">
          <ion-list-header>
            <ion-label color="primary">
              {{"User.Sexe" | translate}}
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Male <ion-icon name="male"></ion-icon>
            </ion-label>
            <ion-radio slot="start" value="m"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Female <ion-icon name="female"></ion-icon>
            </ion-label>
            <ion-radio slot="start" value="f"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ng-template>
      <app-template-center-col [template]="sexeRadio"></app-template-center-col>

      <ng-template #descriptionInput>
        <ion-item>
          <ion-label color="primary" position="floating">
            {{"User.Description" | translate}}
          </ion-label>
          <ion-textarea formControlName="description" spellcheck="true" rows="5"></ion-textarea>
        </ion-item>
      </ng-template>
      <app-template-center-col [template]="descriptionInput"></app-template-center-col>

      <ng-template #preferedTitle>
        <ion-list-header>
          <ion-label color="primary">
            {{"User.FavouritePeriod" | translate}}
          </ion-label>
        </ion-list-header>
      </ng-template>
      <app-template-center-col [template]="preferedTitle"></app-template-center-col>
      <app-my-preferred-period [form]="firstPreferredPeriodForm" [historyRanges]="historyRanges"
        [geographicalAreas]="geographicalAreas" (emitAddPeriod)="onAddPeriod($event)"
        (emitRemovePeriod)="onRemoveFirstPeriod($event)" [showAddPeriod]="numberOfHistoryRange == 1"
        [showRemovePeriod]="numberOfHistoryRange >= 2">
      </app-my-preferred-period>
      <app-my-preferred-period *ngIf="numberOfHistoryRange >= 2" [form]="secondPreferredPeriodForm"
        [historyRanges]="historyRanges" [geographicalAreas]="geographicalAreas" (emitAddPeriod)="onAddPeriod($event)"
        (emitRemovePeriod)="onRemoveSecondPeriod($event)" [showAddPeriod]="numberOfHistoryRange == 2"
        [showRemovePeriod]="true">
      </app-my-preferred-period>
      <app-my-preferred-period *ngIf="numberOfHistoryRange >= 3" [form]="thirdPreferredPeriodForm"
        [historyRanges]="historyRanges" [geographicalAreas]="geographicalAreas" (emitAddPeriod)="onAddPeriod($event)"
        (emitRemovePeriod)="onRemoveThirdPeriod($event)" [showRemovePeriod]="true">
      </app-my-preferred-period>

      <ng-template #personalitiesInput>
        <ion-row>
          <ion-col size-xs="12" size-xl="6" size-sm="6" size-lg="6">
            <app-personalities-list-form [form]="hatedPersonalitiesForm"
              [title]="'User.HatedPersonalities' | translate">
            </app-personalities-list-form>
          </ion-col>
          <ion-col size-xs="12" size-xl="6" size-sm="6" size-lg="6">
            <app-personalities-list-form [form]="lovedPersonalitiesForm"
              [title]="'User.LovedPersonalities' | translate">
            </app-personalities-list-form>
          </ion-col>
        </ion-row>
      </ng-template>
      <app-template-center-col [template]="personalitiesInput"></app-template-center-col>

      <ng-template #editButton>
        <ion-button class="padding-not-stick-edges" (click)="onEdit()" color="secondary" expand="block"
          [disabled]="!profilForm.valid">
          {{'General.Edit' | translate}}
          <ion-icon slot="end" icon="pencil"></ion-icon>
        </ion-button>
      </ng-template>
      <app-template-center-col [template]="editButton"></app-template-center-col>
    </ion-grid>
  </form>

</ion-content>