<form [formGroup]="form">
  <ion-list>
    <ion-list-header>
      <ion-label color="primary">{{title}}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input clearInput type="text" formControlName="first"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input clearInput type="text" formControlName="second"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input clearInput type="text" formControlName="third"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input clearInput type="text" formControlName="fourth"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input clearInput type="text" formControlName="fifth"></ion-input>
    </ion-item>
  </ion-list>
</form>