<form [formGroup]="form">
  <ion-list>
    <ion-list-header>
      <ion-label color="primary">{{title}}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input clearInput type="text" formControlName="one"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input clearInput type="text" formControlName="two"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input clearInput type="text" formControlName="three"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input clearInput type="text" formControlName="four"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input clearInput type="text" formControlName="five"></ion-input>
    </ion-item>
  </ion-list>
</form>