<form [formGroup]="loginForm">
  <ion-grid>

    <ng-template #emailInput>
      <ion-item>
        <ion-label color="primary" position="floating">
          {{"User.Email" | translate}}
        </ion-label>
        <ion-input clearInput type="email" formControlName="email" required></ion-input>
      </ion-item>
    </ng-template>
    <app-template-center-col [template]="emailInput"></app-template-center-col>

    <ng-template #passwordInput>
      <ion-item>
        <ion-label color="primary" position="floating">
          {{"User.Password" | translate}}
        </ion-label>
        <ion-input clearInput type="password" formControlName="password" required></ion-input>
      </ion-item>
    </ng-template>
    <app-template-center-col [template]="passwordInput"></app-template-center-col>

    <div *ngIf="newAccount">
      <ng-template #nameInput>
        <ion-item>
          <ion-label color="primary" position="floating">
            {{"User.Name" | translate}}
          </ion-label>
          <ion-input clearInput type="text" formControlName="name"></ion-input>
        </ion-item>
      </ng-template>
      <app-template-center-col [template]="nameInput"></app-template-center-col>
    </div>

    <ng-template #loginButton>
      <ion-button class="padding-not-stick-edges" (click)="onLogin()" color="secondary" expand="block"
        [disabled]="!loginForm.valid">
        {{'User.Login' | translate}}
        <ion-icon slot="end" icon="person"></ion-icon>
      </ion-button>
    </ng-template>
    <app-template-center-col [template]="loginButton"></app-template-center-col>

    <div *ngIf="!newAccount">
      <ng-template #noAccountYetButton>
        <ion-button class="padding-not-stick-edges" (click)="newAccount = true" color="secondary" expand="block">
          {{'User.NoAccountYet' | translate}}
          <ion-icon slot="end" icon="person-add"></ion-icon>
        </ion-button>
      </ng-template>
      <app-template-center-col [template]="noAccountYetButton"></app-template-center-col>
    </div>

    <div *ngIf="newAccount">
      <ng-template #signUpButton>
        <ion-button class="padding-not-stick-edges" (click)="onSignUp()" color="secondary" expand="block"
          [disabled]="!loginForm.valid || loginForm.value.name ==''">
          {{'User.SignUp' | translate}}
          <ion-icon slot="end" icon="person-add"></ion-icon>
        </ion-button>
      </ng-template>
      <app-template-center-col [template]="signUpButton"></app-template-center-col>
    </div>

  </ion-grid>
</form>