<ng-template #favouritePeriodRange>
  <form [formGroup]="form">

    <ion-row>
      <ion-col size-sm="12" size-md="6">
        <ion-select [placeholder]="'User.SelectRangeQuickly' | translate" interface="popover"
          (ionChange)="onPreRangeSelect($event)">
          <ion-select-option *ngFor="let item of historyRanges" [value]="item">{{item.label}}</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size-sm="12" size-md="6">
        <ion-select [placeholder]="'User.SelectAreas' | translate" interface="popover" multiple="true"
          (ionChange)="onAreaSelect($event)" formControlName="areas">
          <ion-select-option *ngFor="let item of geographicalAreas" [value]="item">{{item.label}}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-range dual-knobs color="secondary" pin="true" min="-1000" [max]="year" formControlName="range"
      class="year-range">
      <ion-input slot="start" type="number" [value]="form.value.range.lower" min="-1000" [max]="form.value.range.upper"
        (ionChange)="onLowerRangeChange($event)">
      </ion-input>
      <ion-input slot="end" type="number" [value]="form.value.range.upper" [min]="form.value.range.lower" [max]="year"
        (ionChange)="onUpperRangeChange($event)">
      </ion-input>
    </ion-range>

    <ion-row>
      <ion-col>
        <ion-button *ngIf="showAddPeriod" (click)="addPeriod()" color="primary" size="small">
          {{'User.AddPeriod' | translate}}
          <ion-icon slot="start" icon="add-circle"></ion-icon>
        </ion-button>
        <ion-button *ngIf="showRemovePeriod" (click)="removePeriod()" color="danger" size="small">
          {{'User.RemovePeriod' | translate}}
          <ion-icon slot="start" icon="remove-circle"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  </form>
</ng-template>
<app-template-center-col [template]="favouritePeriodRange"></app-template-center-col>